@using ProjectManagement.UI.Models.User
@model List<UserVM>

<table class="table table-lg" style="width:60%">
    <thead>
        <tr>
            <th>FullName</th>
            <th>Email</th>
            <th>UserName</th>
            <th>Team</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.FullName</td>
            <td>@user.Email</td>
            <td>@user.UserName</td>
            <td>@user.TeamId</td>
            <td>
                <button class="btn btn-outline-info btn-sm"
                        data-bs-toggle="modal" data-bs-target="#add-update-modal" onclick="UpdateShowModal('@user.Id')">
                    <i class="fa-solid fa-pen"></i>
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>